<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <sectionGroup name="system.webServer">
      <sectionGroup name="rewrite">
        <section name="rewriteMaps" overrideModeDefault="Allow"/>
        <section name="rules" overrideModeDefault="Allow"/>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <system.web>
    <customErrors mode="Off"/>
  </system.web>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type=""/>
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.webServer>
    <handlers>
      <add name="PHP via FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="%RoleRoot%\approot\php\php-cgi.exe" resourceType="Unspecified"/>
    </handlers>

	<rewrite>
	  <rules>
		<rule name="Redirect to index-php" stopProcessing="true">
		  <match url="^(.*)$" ignoreCase="false" />
		  <conditions>
			<add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
			<add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
		  </conditions>
		  <action type="Rewrite" url="index.php/{R:1}" appendQueryString="true" />
		</rule>
	  </rules>
	</rewrite>

    <defaultDocument>
      <files>
        <add value="index.php"/>
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
